
<mat-card>
            <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(username.value, password.value)">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username" #username>
                     <mat-error align="start" *ngIf="formErrors.username" class="form__error">{{ formErrors.username }}</mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" #password>
                      <mat-error align="start" *ngIf="formErrors.password" class="form__error">{{ formErrors.password }}</mat-error>
                              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </p>


          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

