<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/dashboard/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink='/dashboard/employee' >
        <mat-icon>people_outline</mat-icon>
        <span>Manage Employee</span>
      </button>
      <button (click)="logout()" mat-menu-item >
        <mat-icon>exit_to_app</mat-icon>
        <span >Logout</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Mean Stack</span>
</mat-toolbar>
    <router-outlet></router-outlet>
